@media (max-width: 575px) {
  .about-text-wrap {
    margin: 0 1rem;
  }
}

p.text-muted {
  margin-bottom: 0;
}

#about > button {
  display: block;
  margin: auto;
  position: relative;
  -webkit-transition: bottom 300ms ease;
  -o-transition: bottom 300ms ease;
  transition: bottom 300ms ease;
}

button[title="Show less"] {
  bottom: 0.5rem;
}

button[title="Show more"] {
  bottom: 1rem;
}
