@media (max-width: 575px) {
  #contact > div {
    margin: 0 1rem;
  }
  #contact > form {
    margin: 0 0.25rem;
  }
}

#contact {
  padding-bottom: 10rem;
}

#contact-form > button {
  margin-top: 1rem;
}

.w-6 {
  width: 6rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mssg {
  color: #ffffff;
  padding: 0.25rem;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.succ {
  background: green;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-animation: contactMssg 1s ease forwards;
  animation: contactMssg 1s ease forwards;
}

.err {
  background: red;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-animation: contactMssg 1s ease forwards;
  animation: contactMssg 1s ease forwards;
}

@-webkit-keyframes contactMssg {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes contactMssg {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
