@media (max-width: 575px) {
  #contact-form {
    margin: 0 0.25rem;
  }

  #contact-form > p {
    margin-left: 1rem;
  }
}

#contact {
  padding-bottom: 10rem;
}

#contact-form {
  position: relative;
  z-index: 1;
}

#contact-form > div {
  margin-bottom: 1rem;
}

.w-6 {
  width: 6rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  -webkit-transition: -webkit-box-shadow 500ms ease;
  transition: -webkit-box-shadow 500ms ease;
  -o-transition: box-shadow 500ms ease;
  transition: box-shadow 500ms ease;
  transition: box-shadow 500ms ease, -webkit-box-shadow 500ms ease;
}

.form-control:valid {
  -webkit-box-shadow: -0.25rem 0 0.15rem rgba(0, 255, 0, 0.15);
  box-shadow: -0.25rem 0 0.15rem rgba(0, 255, 0, 0.15);
}

.form-control:invalid {
  -webkit-box-shadow: -0.25rem 0 0.15rem rgba(255, 0, 0, 0.15);
  box-shadow: -0.25rem 0 0.15rem rgba(255, 0, 0, 0.15);
}

.form-status-wrap {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.status-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.status-wrap > .alert {
  height: 75%;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
