.header-img {
  -webkit-filter: brightness(0.75);
  filter: brightness(0.75);
}

.header-img-wrap {
  position: relative;
  width: 100%;
}

#header-name {
  position: absolute;
  left: 4vw;
  -webkit-transform: translateY(5vh);
  -ms-transform: translateY(5vh);
  transform: translateY(5vh);
  z-index: 1;
  color: #ffffff;
  font-size: 10vw;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  animation: fadeIn 1s ease forwards;
}

.bg-img {
  height: 50vw;
  background-image: url("../../assets/images/cover/cover.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-filter: brightness(0.75);
  filter: brightness(0.75);
}

#header-name.hide-name {
  display: none;
}
