.header-img {
  filter: brightness(0.5);
}

.header-img-wrap {
  position: relative;
  width: 100%;
}

#header-name {
  position: absolute;
  left: 5vw;
  transform: translateY(5vh);
  z-index: 1;
  color: #ffffff;
  font-size: 8vw;
  font-family: "Cinzel";
  font-weight: 700;
  transition: all 500ms ease;
}
