nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link {
  text-transform: capitalize;
}

#NavBar {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#headroom-navbar-wrap {
  z-index: 11;
}
