@media (orientation: landscape) {
  #scroll-top {
    right: 2rem;
  }
}

@media (orientation: portrait) {
  #scroll-top {
    right: 0.5rem;
  }
}

@media (max-width: 575px) {
  section {
    padding: 0.5rem 0rem 5rem 0rem;
  }

  .home-main > section > h1 {
    margin-left: 1rem;
  }
}

@media (min-width: 576px) {
  section {
    padding: 0.5rem 1rem;
    margin: 0 2rem;
  }
}

@media (min-width: 768px) {
  section {
    padding: 1.5rem 2rem;
    margin: 0 3rem;
  }
}

@media (min-width: 992px) {
  section {
    padding: 2.5rem 3rem;
    margin: 0 4rem;
  }
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background: #343a40;
  position: relative;
  z-index: 0;
}

section {
  background: #ffffff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.home-main > section > h1 {
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  margin-top: 8vw;
}

.home-main {
  z-index: 1;
}

.home-main > section:first-child {
  padding-top: 3rem;
}

#spy-px {
  display: inline;
  /*width: 1px;
  height: 1px;*/
  opacity: 0;
  color: transparent;
  background: transparent;
}

.far.fa-frown {
  font-size: 20vw;
}

#no-route-match {
  text-align: center;
  margin-top: 3rem;
}

#scroll-top {
  border: none;
  position: fixed;
  z-index: 1111;
  top: 50%;
  /*right: 0.5rem;*/
  background: transparent;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
}

#scroll-top.scroll-top-vis {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
